:root {
    --primary-color: #0A122F; /* Define the color as a CSS variable */
    --dots-color: #0A122F;
    --secondary-color: #0A254A;
}

/* Container for the last message */
.last-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
}


.audio-itself {
    visibility: hidden;
    width: 0%;
}
/* Audio & Voice Note Message Styling */
.audio-message, .voice-note-message {
    width: 100%;
    height: 100%;
    color: #999898;
    display: flex;
    margin-top: 5%
}


.mic-icon {
    margin-right: 3%;

}
.mic-icon.active, .audio-duration.active {
    color: #4cb9cf;
}




